body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

body.dark {
  background-color: #282a36;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 85%;
  width: 85%;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  background-color: #ffffff;
  }

#clock {
  text-align:center;
  vertical-align: middle;
  display: table-cell;
}

.clock-inner {
  border: 7px solid #E0E0E0;
  height: 85%;
  width: 85%;
  bottom: 10px;
  right: 10px;
  margin: auto;
  display: table;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-outer {
  height: 50%;
  width: 33%;
  top: 0;
  color: #9E9E9E;
  font-size: 100px;
  border-radius: 10px 0 0 0;
}

.links {
  height: 50%;
  width: 100%;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.clock-outer, .links {
  background-color: #ffffff;
  left: 0;
  margin: auto;
  position: absolute;
}

.links ul {
  display: inline-block;
  padding: 30px;
}

.links li {
  display: flex;
}

h1 {
  color: #29B6F6;
  font-size: 15px;
  text-transform: uppercase;
}

a:link, a:visited {
  color: #9E9E9E;
  font-size: 25px;
  text-decoration: none;
}

.social, .entertainment, .git, .shopping, .personal {
  width: auto;
  display: table-cell;
  vertical-align: middle;
  vertical-align: top;
}
