@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
	background-color: #2e3440;
  margin: 0px;
  user-select: none;
  -moz-user-select: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 17em;
  /* height: 10em; */
}

.square {
  padding: 1em;
  font-family: "Roboto Mono";
  font-size: .85rem;
  margin: 0em .5em;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: rgba(15, 17, 21, 0.2) 0px 3px 6px 0px;
  transition: box-shadow 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
  /* background-color: #2e3440; */
  background-color: #3b4252;

  width: 20%;
}

.square:hover {
  box-shadow: rgba(15, 17, 21, 0.2) 6px 16px 16px 0;
}

.square-header {
  font-size: 1.1rem;
  font-weight: 600;
  color: #88c0d0;
  margin: 0em 0em .35em 0em;
}

.square-body {
  /* overflow-y: scroll; */
  vertical-align: top;
  height: 80%;
}

a {
  text-decoration: none;
  color: #d8dee9;
  display: block;
  margin: .5em 0em;
}

a:hover {
  color: #eceff4;
  /* color: #fff; */
  background-color: #434c5e;
  /* background-color: #3b4252; */
  border-radius: 0.5em;
}

.searchdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 10em;
}

.search {
  font-family: "Roboto Mono";
  font-size: 1.1rem;
  color: #eceff4;
  height: 2.5em;
  width: 100%;
  margin: auto;
  background-color: #4c566a;
  padding: 0.5em;
  border: #4c566a;
  border-radius: 0.5em;
}

.searchform {
  width: 80%;
  margin: auto;
}